@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center ">
    <h1 class="display-4">Ewidencja Wewnętrznego Systemu Kontroli</h1>
    <a class="btn btn-primary btn-lg" asp-controller="Records" asp-action="Index">Zaloguj</a>
    
</div>
