    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ewidencja WSK</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ewidencja WSK</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />

                    <div class="navbar-nav flex-grow-1">

                        <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Kontrakty
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Records" asp-action="Index">Wszystkie</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Records" asp-action="Create">Dodaj</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Records" asp-action="ThisYearRecords">Bieżący rok</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Records" asp-action="LastYearRecords">Poprzedni rok</a>
                            </div>
                        </div>

                        <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dostawcy
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Suppliers" asp-action="Index">Wszyscy</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Suppliers" asp-action="Create">Dodaj</a>
                            </div>
                        </div>

                        <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dokumenty
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="nav-link text-dark" asp-area="" asp-controller="AdditionalDocs" asp-action="Index">Wszystkie</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="AdditionalDocs" asp-action="Create">Dodaj</a>
                            </div>
                        </div>

                        <div class="dropdown show">
                            <a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Części
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Parts" asp-action="Index">Wszystkie</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Parts" asp-action="Create">Dodaj</a>
                            </div>

                        </div>
                    </div>

                        @*<ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Records" asp-action="Index">Wszystkie kontrakty</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Records" asp-action="AddRecord">Dodaj kontrakt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Suppliers" asp-action="Index">Wszyscy dostawcy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Suppliers" asp-action="Create">Dodaj dostawcę</a>
                </li>
            </ul>*@
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - EwidencjaWSK - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
