@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> UserManager

    <ul class="navbar-nav">
        @if (signInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Witaj @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Wyloguj</button>
                </form>
            </li>
        }
        else
        {
        }
        @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <div class="dropdown show">
                    <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Audit">Lista zmian</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Users">Użytkownicy</a>
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Rejestracja nowego użytkownika</a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="UserConfirm">Akceptacja nowego użytkownika</a>
                    </div>

                </div>
            </li>
        }
    </ul>
