@page
@model RegisterConfirmationModel
@{
    
}

<h1>Informacja</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Twoja rejestracja zostanie zaakceptowana przez administratora ze względów bezpieczeństwa.
</p>
    }
    else
    {
<p>
      
</p>
    }
}
